@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

/* estilo del scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.ck-editor__editable_inline {
    min-height: 170px !important;
    max-height: 170px !important;
}